@font-face
  font-family: 'Fira Sans Book'
  src: url('/assets/fonts/FiraSans-Book.eot')
  src: local('Fira Sans Book')
  src: local('FiraSans-Book')
  src: url('/assets/fonts/FiraSans-Book.eot?#iefix') format('embedded-opentype')
  src: url('/assets/fonts/FiraSans-Book.woff2') format('woff2')
  src: url('/assets/fonts/FiraSans-Book.woff') format('woff')
  src: url('/assets/fonts/FiraSans-Book.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Fira Sans Heavy'
  src: url('/assets/fonts/FiraSans-Heavy.eot')
  src: local('Fira Sans Heavy')
  src: local('FiraSans-Heavy')
  src: url('/assets/fonts/FiraSans-Heavy.eot?#iefix') format('embedded-opentype')
  src: url('/assets/fonts/FiraSans-Heavy.woff2') format('woff2')
  src: url('/assets/fonts/FiraSans-Heavy.woff') format('woff')
  src: url('/assets/fonts/FiraSans-Heavy.ttf') format('truetype')
  font-weight: 900
  font-style: normal

body
  font-family: "Fira Sans Book", sans-serif !important

h1, h2, h3, h4, h5, h6
  font-family: "Fira Sans Heavy", sans-serif !important
  text-transform: uppercase

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text
  color: white

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
  color: white

.navbar-default .navbar-brand
  color: white

.navbar-default
  background-color: #64b2e3
  border-color: #006699

.footer
  background-color: #64b2e3
  color: white

.footer a
  color: #006699

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover
  color: white
  background-color: transparent

.btn-primary
  background-color: #64b2e3
  border-color: #006699

.btn-primary.active, .btn-primary:active, .btn-primary:hover, .open > .dropdown-toggle.btn-primary
  background-color: #006699

#signup-institution
  display: none

label[for="signup-institution"]
  display: none

#edit-profile-institution
  display: none

label[for="edit-profile-institution"]
  display: none

strong[data-field="team-institution"]
  display: none
